<!-- Manankumar Thakkar -->
<!-- This is the HTML header file which act as an landing page page for the assignment. Contains two links Student survey form and List all surveys.-->
<div style="background-color: #006633 ">
  <img class="d-block mx-auto " src="/assets/images/gmu_logo.png" alt="George Mason Logo  " width="300" height="200">
</div><br>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h1 style="margin-left: 10px; border: 5px solid #FFCC33; border-style: solid; box-shadow: 5px 10px 8px #77d915; padding-left: 40%;">
  SWE 642 Homework-3
</h1>
<br>
<h2 style="text-align: center;">Click on the links below to complete the student surveys or to view all the surveys:</h2>
<div class="w3-container">
         
  <a routerLink="/survey">Student Survey Form</a> <br>
  <a routerLink="/list">List all the submitted surveys.</a><br>
   
</div>
<footer>
  <!--fixed logo-->
  <div class="gmu_logo_fixed">
   <a href="https://www.gmu.edu/"><img class="d-block mx-auto mb-4" src="/assets/images/gmu_logo.png" align="right" width="175"></a></div><br/>
</footer>
